/* importing google font family */
@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}
.login {
  background: radial-gradient(#653d84, #26194a);
  font-family: "Alegreya", sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-box {
  width: 900px;
  height: 600px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 1px 4px 22px -8px #0004;
  display: flex;
  /* overflow: hidden; */
}
.hidden {
  display: none;
}
.flex-box {
  display: flex !important;
}
.form-box .left {
  width: 41%;
  height: 100%;
  padding: 25px 25px;
}
.form-box .right {
  width: 59%;
  height: 100%;
}
.left .top_link a {
  color: #26194a;
  font-weight: 400;
}
.left .top_link {
  height: 20px;
}
.left .contact {
  height: 100%;
  width: 73%;
  margin: 50px auto;
}
.left .contact a {
  float: right;
  padding-top: 30px;
  color: #26194a;
}
.left h3 {
  text-align: center;
  margin-bottom: 40px;
}
.left input {
  border: none;
  width: 80%;
  margin: 15px 0px;
  border-bottom: 1px solid #26194a;
  padding: 7px 9px;
  width: 100%;
  overflow: hidden;
  background: transparent;
  font-weight: 600;
  font-size: 14px;
}
.left input:focus {
  outline: none;
}
.left {
  background: linear-gradient(-45deg, #dcd7e0, #fff);
}
.submit {
  border: none;
  padding: 15px 70px;
  border-radius: 8px;
  display: block;
  margin: auto;
  margin-top: 20px;
  background: #26194a;
  color: #fff;
  font-weight: bold;
  -webkit-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
  -moz-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
  box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
}

.right {
  background: linear-gradient(
      212.38deg,
      rgba(242, 57, 127, 0.7) 0%,
      rgba(175, 70, 189, 0.71) 100%
    ),
    url(../images/bar.png);
  color: #fff;
  position: relative;
}

.right .right-text {
  height: 100%;
  position: relative;
  transform: translate(0%, 35%);
  text-align: center;
}
.right-text h2 {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
}

.top_link img {
  width: 28px;
  padding-right: 7px;
  margin-top: -3px;
}

.btn-right {
  background: transparent;
  border: 2px solid white;
  border-radius: 4px;
  font-weight: bold;
  font-size: 20px;
  padding: 15px 50px;
}
